@using BookShop.Shared
@using BookShop.Shared.Enums
@{
    var userName = Context.User.Identity?.Name;
    var isAuthorized = Context.User.Identity?.IsAuthenticated ?? false;
    var pageName = ViewContext.RouteData.Values["action"]?.ToString()?.ToLower();
    
    var roleDescription =  Context.User.IsInRole(Roles.Admin.GetName()) ? Roles.Admin.GetDescription() : Context.User.IsInRole(Roles.Manager.GetName()) ? Roles.Manager.GetDescription() : Roles.User.GetDescription();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookShop.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/fontawesome-free/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @if (isAuthorized)
            {
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Authors" asp-action="AuthorList">BookShop</a>
                    <div>
                        <a class="navbar-brand" asp-area="" asp-controller="Books" asp-action="BooksList">Books</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="AuthorList">Authors</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <a asp-controller="Cart" asp-action="CartItems" class="bg-sky-600 text-white font-bold py-1 px-2 rounded transition duration-300">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
                <div>
                    @roleDescription: 
                    @userName
                </div>
                <a class="bg-sky-600 text-white font-bold py-1 px-2 rounded transition duration-300" asp-controller="Account" asp-action="Logout">
                    Logout
                </a>
            }
            else {
                <div class="container d-flex gap-x-2 justify-content-end">
                    <a class="@(pageName == "register" ? "bg-white-600 border-sky-600 text-blue " : "bg-sky-600 text-white " + "font-bold py-1 px-2 rounded transition duration-300")" asp-controller="Account" asp-action="Login">
                        Login
                    </a>
                    <a class="@(pageName == "login" ? "bg-white-600 border-sky-600 text-blue " : "bg-sky-600 text-white " + "font-bold py-1 px-2 rounded transition duration-300")" asp-controller="Account" asp-action="Register">
                        Register
                    </a>
                </div>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BookShop.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
