@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oops! Something went wrong.</h1>
<p>
    @ViewData["ErrorMessage"]
</p>

<a href="/Authors/AuthorList" class="btn btn-primary">Back to Authors</a>